---

import Layout from '../../layouts/Layout.astro';
import ServicesPage from '../../components/Services/ServicesPage.tsx';


---

<Layout title="Serviços">
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

	<div class='w-full justify-center items-center '>
		  
		
	<div class='w-full justify-center items-center overflow-hidden' style="
  				background: radial-gradient(circle, #111111 50%, #000000 60%);">
						
			
				<ServicesPage client:load/>
			
	</div>
	
</Layout>
