---
import Layout from '../layouts/Layout.astro';
---

<Layout title="RPR Pets">
  <!-- HERO -->
   <!-- SOBRE NÓS -->
  <section id="sobre" class=" bg-black px-8 h-screen justify-center items-center flex flex-col">
    <h1 class="text-xl sm:text-4xl font-[IzmirBold] text-white text-start leading-tight">
      [404] Site fora do ar.
    </h1>
  </section>
</Layout>

